@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: black;
    font-family: sans-serif;

}
html {
    scrollbar-width: none;

  }
body {
    background-color: black;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  .img-container {
    width: 60vw;
    height: 50em;
    position: relative;
}

.load-line {
    background: var(--white)!important;
    height: 2px!important;
}