@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: black;
    font-family: sans-serif;

}
html {
    scrollbar-width: none;

  }
body {
    background-color: black;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }