:root {
    --white : white;
    --black : black;
    --red : red;
    --blue : blue;

    /* new  */
    --color-text: #fff;
    --color-bg: #000;
    --color-link: #f9d77e;
    --color-link-hover: #fff;
    --color-info: #efc453;
    --glitch-width: 100vw;
    --glitch-height: 100vh;
    --gap-horizontal: 10px;
    --gap-vertical: 5px;
    --time-anim: 4s;
    --delay-anim: 2s;
    --blend-mode-1: none;
    --blend-mode-2: none;
    --blend-mode-3: none;
    --blend-mode-4: none;
    --blend-mode-5: overlay;
    --blend-color-1: transparent;
    --blend-color-2: transparent;
    --blend-color-3: transparent;
    --blend-color-4: transparent;
    --blend-color-5: #af4949;
}


.tnone {
    text-decoration: none;
    color: var(--white);
    font-weight: 500;
    z-index: 2!important;
    background: none;
    padding-left: 5px;
}

.tnone:hover:before {
        content: attr(data-text);
        position: absolute;
        left: -2px;
        text-shadow: 1px 0 var(--blue);
        top: 0;
        color: var(--white);
        background: var(--black);
        overflow: hidden;
        animation: noise-anim-2 15s infinite linear alternate-reverse;

}
  .tnone{
      color: var(--white)!important;
  }
  .tnone:hover{
      text-shadow: -1px 0 var(--red);
      text-shadow: -1px 0 var(--red);
  }
.logo {
    color: var(--white);
    font-weight: 500;
}

.out {
    z-index:2!important;
    background: none;
}